@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    .hide{
        position: absolute;
        z-index: -1;
        width: 15px;
        height: 10px;
        left: 70px;
        top: 25px;
        background-color: white;
    }
    margin: 0;
    padding: 0;
    background-color: #202020;
    .leftVar{
        color: white;
        overflow-y: auto;
        width: 240px;
        height: 970px;
    }
    .leftVar::-webkit-scrollbar{
        background-color: #202020;
    }
    .leftVar::-webkit-scrollbar-thumb{
        background-color: rgb(146, 145, 145);
        border-radius: 20px;
        background-clip: padding-box;
        border: 5px solid transparent;
    }
    .varOfHead{
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 0 0 25px;
        i{
            font-size: 20px;
            padding-right: 7px;
        }
        .logo{
            padding: 18px 14px 18px 16px;
            display: flex;
            i{
                color: red;
                font-size: 27px;
            }
            p{
                position: relative;
                top: 5px;
                margin: 0;
            }
            .logoP{
                font-family: 'Cafe24Ohsquare';
            }
            .kr{
                font-size: 10px;
                font-weight: bold;
                color: silver;
                position: relative;
                top: -7px;
            }
        }
    }
    .leftVar{
        .AllContents{
            .contents, .subS, .YoutubeMore{
                border-bottom: solid rgb(73, 72, 72) 0.2px;
                padding-bottom: 24px;
                .SubSP{
                    padding: 8px 24px;
                    margin: 0;
                    font-size: 14px;
                    color: silver;
                }
            }
            .YoutubeMore i{
                color: red;
            }
            .content{
                display: flex;
                align-items: center;
                text-align: center;
                i{
                    position: relative;
                    left: 12%;
                    right: 88%;
                    top: 20px;
                    transform: translate(-50%, -50%);
                    margin: 5px 10px;
                    font-size: 17px;
                    padding: 6px 0;
                }
                p{
                    position: relative;
                    left: 40px;
                    top: 4px;
                    margin: 0;
                    font-size: 13px;
                }
            }
            .DogSpeak{
                .TopSpeak{
                    padding: 10px 24px 0 24px;
                    font-size: 13px;
                    .Wspeak{
                        margin: 3px 0;
                        color: rgb(179, 176, 176);
                    }
                }
                .BottomSpeak{
                    margin: 20px 0;
                    padding-left: 24px;
                    .Lspeak{
                        margin: 2px 0;
                        color: rgb(97, 96, 96);
                        font-size: 12px;
                    }
                }
            }
        }
    }
}